@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */

:root, body {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Apple SD Gothic Neo", "Malgun Gothic",
    sans-serif;
}


/* 주간 스케줄 타임라인 스타일 보조 */
::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
